<div class="home-intro">
    <div class="jumbo">Blog - {{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Xin chào, mình là <b style="color: #09a2ff">Thanh Duy</b> hay còn gọi là <b style="color: #09a2ff">SilverTD</b>. 
        <!--Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.-->
        </h3>
        <h3>
          Trang blog chủ yếu đăng các bài viết về học thuật như Vật Lý, Toán học, Khoa học máy tính,...
        </h3>
</div> </div>

